/* Fonts */

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
      url("../fonts/PTSans-Bold.woff") format("woff");
      font-weight: 700;
      font-style: normal;
}

/* Variables*/

:root {
  --basic-white: #ffffff;
  --semitransparent-white: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --semitransparent-black: rgba(0, 0, 0, 0.3);
  --basic-blue: #81b3d2;
  --basic-grey: #333333;
  --light-grey: #bdbbbc;
  --ligther-grey: #e5e5e5;
  --pale-grey: #eeeeee;
  --smoky-grey: #f2f2f2;
  --dull-grey: #6a6a6a;
  --darker-grey: #666666;
  --basic-brown: #766357;
}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  position: relative;
  width: 1200px;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  margin: 0 auto;
  padding: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.link {
  color: var(--basic-black);
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.content-image {
  background-color: var(--pale-grey);
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

/*Header*/

/*.header {}*/

.header__site-navigation {
  margin: 15px 0 15px;
  line-height: 26px;
  font-weight: bold;
  list-style: none;
}

.header__nav-link_active {
  color: var(--basic-brown);
}

.header__nav-link:hover {
  color: var(--basic-blue);
}

.header__nav-link:active {
  opacity: 0.3;
}

.navigation {
  min-height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*Welcome*/

.welcome {
  background-color: var(--pale-grey);
}

/*Features*/

.features {
  text-align: center;
}

.features__desc {
  padding: 40px 0 50px;
  line-height: 26px;
}

.features__desc-title {
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
}

.features__list {
  padding: 0;
  font-size: 14px;
}

.features__grid-container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
}

.features__sublist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features__item {
  width: 400px;
  height: 256px;
}

.features__item-title {
  margin: 0;
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
}

.features__item-title_theme_bright {
  color: var(--basic-white);
}

.features__item_theme_bright {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features__item_theme_grey {
  background-color: var(--pale-grey);
}

/*Interested*/

.interested {
  padding: 60px 0 0;
  text-align: center;
  line-height: 24px;
}

.interested__title {
  font-size: 30px;
  font-weight: bold;
}

.interested__button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
}

.interested__button:hover {
  --basic-brown: #604E43;
}

.interested__button:active {
  --basic-brown: #503E33;
  color: var(--semitransparent-white);
}

/*Footer*/

.footer {
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
  text-align: center;
}

.footer__columns {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.footer__column_content_contacts {
  font-size: 21px;
  font-weight: bold;
}

.phone {
  color: inherit;
  text-decoration: none;
}

.footer__column_content_social {
  margin: auto;
}

.social-buttons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  text-align: center;
  column-gap: 6px;
  font: inherit;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover {
  --basic-blue: #669EC0;
}

.social-button:active {
  color: var(--semitransparent-white);
  --basic-blue: #5496BD;
}

.footer__column_content_copyright {
  margin: auto;
}

/*Modal*/

.modal {
  margin: 0 auto;
  padding: 55px;
  width: 570px;
  height: 400px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  line-height: 26px;
  font-weight: 700;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}

.search-form__label {
  margin: auto 0;
  vertical-align: middle;
}

.search-form__label:last-of-type {
  margin-left: 50px;
}

.search-form__field {
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--smoky-grey);
  border: none;
  padding: 6px 0;
}

.search-form__field::placeholder {
  color: var(--basic-black);

}

.search-form__field_date {
  grid-column: 2 / -1;
  padding-left: 12px;
}

.search-form__field_guest {
  text-align: center;
}

.search-form__field:hover {
  --smoky-grey: #ebebeb;
}

.search-form__field:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--ligther-grey);
}

.search-form__button {
  height: 60px;
  grid-column: 1 /-1;
  background-color: var(--basic-blue);
}

.search-form__button:hover {
  --basic-blue: #669EC0;
}

.search-form__button:active {
  color: var(--semitransparent-white);
  --basic-blue: #5496BD;
}

/*CATALOG.html*/

/*Filter*/

.filter {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.filter__title {
  font-size: 16px;
  font-weight: bold;
}

.filter__button {
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.filter__button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Sort*/

.filter__form {
  padding: 25px 75px 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 300px;
}

.filter__grid-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 100px;
}

.filter__button {
  grid-column: 2 / 3;
}

/*Sort*/

.sort {
  padding: 0 75px;
  display: grid;
  grid-template-columns: max-content min-content 1fr 50%;
  column-gap: 40px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort__found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-by__title {
  margin: auto 0;
  justify-self: center;
}

.sort-by__list {
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 30px;
  justify-self: center;
}

.sort-by__item {
  color: var(--semitransparent-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-by__item:hover {
  color: var(--basic-blue);
}

.sort-by__item:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort-by__item_active {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort-by__controls {
  margin: auto 0;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 10px;
  justify-self: end;
}

.sort-by__control:hover path {
  fill: var(--basic-black);
}

.sort-by__control:active path {
  fill: var(--basic-blue);
}

.sort-by__control_active path {
  fill: var(--basic-blue);
}

/*Hotel-cards*/

.hotel-card__columns {
  padding: 30px 75px;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
}

.hotel-card__column_content_image {
  margin: auto 30px auto 0;
}

.hotel-card__column_content_rating {
  margin: auto;
}

.hotel-card__title {
  margin: 0;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
}

.hotel-card__title:hover {
  --basic-black: var(--basic-blue);
}

.hotel-card__title:active {
  --basic-black: var(--semitransparent-black);
}

.hotel-card__button_more {
  background-color: var(--basic-blue);
}

.hotel-card__button_more:hover {
  --basic-blue: #669EC0;
}

.hotel-card__button_more:active {
  --basic-blue: #5496BD;
  color: var(--semitransparent-white);
}

.hotel-card__button_reserve {
  background-color: var(--basic-brown);
}

.hotel-card__button_reserve:hover {
  --basic-brown: #604E43;
}

.hotel-card__button_reserve:active {
  --basic-brown: #503E33;
  color: var(--semitransparent-white);
}

.hotel-card__rating {
  min-width: 110px;
  min-height: 27px;
  color: var(--darker-grey);
  background-color: var(--smoky-grey);
  text-align: center;
}

.hidden { /*hidden*/
  opacity: 0.15;
}
